body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: rgb(19, 16, 17);
  padding: 5px;
  text-align: center;
}

h1 {
  color: #0de74f;
}

main {
  padding: 100px;
}

footer {
  background-color: #dd158a;
  color: #cbaacb;
  padding: 20px;
  text-align: center;
}
.product {
  margin-bottom: 20px;
  text-align: center;
}

.product img {
  width: 150px;
}

.product h3 {
  color: #55cbcd;
}

.product p {
  color: #f31050;
}

.product button {
  background-color: #dfdfda;
  color: #e61fe6;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}
h1
{
  
  column-gap: 10px;
  color: #d5ffff
}

.animado {
  animation: fade 1s ease-in-out infinite alternate;
}

@keyframes fade {
  0% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}
.animacion-derecha {
  animation-name: mover-derecha;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes mover-derecha {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100px); 
  }
}
ul {
  background-color: #55cbcd;
}

ul li a {
  color: white;
}

footer {
  background-color: #ffffb5;
}
.menu {
  background-color: #f2f2f2;
  padding: 10px;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.menu li {
  display: inline;
  margin-right: 10px;
}

.menu li a {
  text-decoration: none;
  color: #ffffb5;
  font-weight: bold;
}

.menu li a:hover {
  color: #07f326;
}
.menu a {
  position: relative;
  transition: top 0.3s ease;
}

.menu a:hover {
  top: -10px; 
}

.animado:hover {
  animation: parpadeo 1s infinite;
}

header h1:hover {
  animation: moveText 1s ease-in-out infinite alternate;
}

@keyframes moveText {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(30px);
  }
}
/* Definir la animación cuando se pasa el mouse sobre la imagen */
.imagen-destacada {
  transition: transform 0.3s ease; /* Agrega una transición suave de 0.3 segundos para la propiedad "transform" */
}

/* Define la transformación cuando el mouse está sobre la imagen */
.imagen-destacada:hover {
  transform: scale(1.1); /* Aplica un efecto de zoom al 110% del tamaño original */
}
