header {
  background-color: #0d0d0e; /* Color de fondo del encabezado */
  color: #000000; /* Color del texto en el encabezado */
  text-align: center;
  padding: 20px 0;
}

header h1 {
  font-size: 2rem;
  color: #f5f5f5; /* Color del título */
}

/* Estilos para el cuerpo de la página */
main {
  background-color: #3c4729; /* Color de fondo del cuerpo de la página */
  color: #131212; /* Color del texto en el cuerpo de la página */
  padding: 20px; /* Espacio alrededor del contenido principal */
}

/* Estilos para las secciones de productos */
.product {
  margin-bottom: 20px; /* Espaciado entre secciones de productos */
}

/* Estilos para los títulos de las secciones */
.product h2 {
  font-size: 1.5rem;
  color: #007acc; /* Color del título de la sección */
}

/* Estilos para los párrafos en las secciones */
.product p {
  font-size: 1rem;
}




a.buy-button {
  background-color: #0ef72d; 
  color: #0c0808; /* Color del texto blanco */
  padding: 10px 20px; /* Espaciado interno para el botón */
  text-decoration: none; /* Elimina la decoración de subrayado del enlace */
  font-weight: bold; /* Texto en negrita */
  border-radius: 5px; /* Bordes redondeados */
  transition: background-color 0.3s ease-in-out; /* Transición de color de fondo al hacer hover */
}


a.buy-button:hover {
  background-color: #c70e99; 
}




@keyframes blink {
  0% {
      opacity: 1;
  }
  50% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}


header img {
  animation: blink 2s infinite; 
}